.container {
  height: 600px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.container .container-item {
  width: 20%;
  height: 230px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 2px solid #00F5FF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container .container-item img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 5px;
}

.container .container-item h3 {
  text-align: center;
  margin-top: 3px;
  color: #004C99;
}

.container .container-item p {
  text-align: center;
  color: #004C99;
  font-size: 14px;/
}